* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

:root {
  --text-main-blue: #5671a6;
  --text-dark-grey: #383838;
  --text-light-grey: #616161;

  --button-blue: #5671A6;
  --button-dark: #2c3445;
  --text_white: #fff;
  --border-color: #6D8093;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tektur", sans-serif;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}
h1,
h2,
h3 {
  color: var(--text-main-blue);
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 16px;
}
h4 {
  color: var(--text-dark-grey);
  font-size: 16px;
}
h5 {
  color: var(--text-dark-grey);
  font-size: 14px;
}
h6 {
  color: var(--text-light-grey);
  font-size: 12px;
  font-weight: 400;
}
p {
  color: var(--text-light-grey);
  text-align: center;
  font-family: "Tektur", sans-serif;
  font-size: 16px;

  font-weight: 500;
}

button {
  border: 2px solid #5671A6;
  padding: 10px 15px;
  background: none;
  padding-left: 40px;
  padding-right: 40px;
  transition: 0.3s;
}

button:active {
  transform: scale(90%)


}

.btn-demo {
  border-radius: 50px;
  color:var(--button-blue);
  text-transform: uppercase;
  font-weight: 800;
  cursor:pointer;

}

.btn-demo:hover {
  background: var(--button-blue);
  color:var(--text_white);
  
}

a {
  text-decoration: none;
}

.btn-contact {
  border-radius:50px;
  color:var(--text_white);
  font-weight: 600;
  cursor:pointer;
  background: var(--button-blue);
}

.btn-contact:hover {
  background: linear-gradient(105deg, #5671A6 11.88%, #B3CBD9 80.84%);
  
}

.main {

  width: 100%;
  flex-grow: 1;
}

body{
  background-image: url(../images/background-light.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.card1 {

  border: 2px solid rgb(0, 0, 0);
  width: 375px;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;


}